* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  background-color: rgb(2, 6, 47);
  padding: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}
header a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: tahoma;
  font-weight: 400;
  color: rgb(96, 11, 11);
}
#logo{
  font-size: 40px;
  font-weight: 500;
}
.banner-container {
  margin-top: 59px;
  width: 100%;
  height: 100vh;
  background-image: url(photos/barca.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  align-items: center;
}
.banner-container .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 20%;
}
.left-section {
  width: 600px;
  align-self: flex-start;
}
.left-section h1 {
  margin: 0;
  color: #fff;
  font-size: 40px;
}
.left-section p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 18px;
  line-height: 28px;
  color: lavenderblush;
}

.left-section button:hover,
header a:hover {
  background-color: rgb(96,11,11);
  color: rgb(2,6,47);
  border: 2px solid rgb(2,6,47);
}
.button-1 {
  border: 2px solid rgb(96, 11, 11);
  padding: 12px 50px;
  margin-top: 5px;
  color: rgb(96, 11, 11) ;
  border-radius: 17px;
  cursor: pointer;
  background:  rgb(2, 6, 47);
  font-weight: bold;
}
.right-section {
  background-color: rgb(96, 11, 11) ;
  width: 350px;
  border-radius: 15px;
  padding: 40px 0;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.26);
}
.right-section h4 {
  font-size: 20px;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  color: rgb(2, 6, 47);
}
.input-section {
  width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-section label {
  color: rgb(96, 11, 11);
  font-size: 14px;
  position: absolute;
  top: 10px;
  bottom: 30px;
  left: 2px;
  transition: 0.4s ease-in-out;
}
.input-section input {
  border: none;
  border: none;
  outline: none;
  color: indigo;
  padding: 7px;
  border-radius: 10px;
  /* margin-top: 5px; */
  border-bottom: 3px solid #c9c9c98a;
}
.input-section input:focus ~ label,
.input-section input:valid ~ label{
  color: rgb(96, 11, 11);
  top: -10px;
  font-size: 12px;
}
.input-section input:focus,
.input-section input:valid {
  border-color: rgb(96, 11, 11);
}
.submit-secion {
  text-align: center;
}
.submit-button {
  background-color: rgb(2, 6, 47);
  color: #fff;
  border: none;
  padding: 10px 0;
  margin-top: 15px;
  border-radius: 6px;
  width: 300px;
  cursor: pointer;
}
.submit-button:hover {
  box-shadow: 0 3px 6px #fff;
  background: black;
}
.section-2 {
  background-image: url(photos/msn.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.card-container {
  width: 350px;
  border-radius: 15px;
  box-shadow: 10px 5px 26px black;
  overflow: hidden;
  text-align: center;
}
.card-container h1 {
  color: #fff;
}
.image-container {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.image-container img:hover {
  transform: scale(1.2) rotate(-4deg);
}
footer {
  text-align: center;
  color: gray;
  padding: 15px;
}
footer span {
  color: rgb(96, 11, 11);
  font-weight: bold;
}

